POSTGRES_DB=wa_sender_simple
POSTGRES_USER=wa_sender
POSTGRES_PASSWORD=troque_essa_senha

# Docker Compose local:
# DATABASE_URL=postgresql://wa_sender:troque_essa_senha@postgres:5432/wa_sender_simple?schema=public
# REDIS_URL=redis://redis:6379

# Docker Swarm producao:
DATABASE_URL=postgresql://wa_sender:troque_essa_senha@wa_sender_simple_postgres:5432/wa_sender_simple?schema=public
REDIS_URL=redis://wa_sender_simple_redis:6379

ADMIN_PASSWORD=troque_essa_senha

BAILEYS_SESSION_DIR=/app/data/baileys-session
BAILEYS_LOG_LEVEL=silent

APP_URL=https://wa2.supereducarbrasil.com.br
NEXT_PUBLIC_APP_URL=https://wa2.supereducarbrasil.com.br
