POSTGRES_DB=wa_sender_simple
POSTGRES_USER=wa_sender
POSTGRES_PASSWORD=wa_sender

DATABASE_URL=postgresql://wa_sender:wa_sender@wa_sender_simple_postgres:5432/wa_sender_simple?schema=public
REDIS_URL=redis://wa_sender_simple_redis:6379

ADMIN_PASSWORD=SUA_SENHA_ADMIN_AQUI

BAILEYS_SESSION_DIR=/app/data/baileys-session
BAILEYS_LOG_LEVEL=silent

APP_URL=https://wa2.supereducarbrasil.com.br
NEXT_PUBLIC_APP_URL=https://wa2.supereducarbrasil.com.br
